src/test/resources/deliveryChannels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Thu Oct 16 2014 13:28:40 GMT-0500 (Central Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="DeliveryChannels">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="DeliveryChannel" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="Type" type="xs:string"></xs:element>
                                                 <xs:element name="Value" type="xs:string"></xs:element>
                                                 <xs:element name="Regeneration" type="xs:string"></xs:element>
                                                 <xs:element name="Id" type="xs:long"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>