src/test/resources/merchants.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Merchants">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="PageOffset"/>
        <xs:element type="xs:byte" name="TotalCount"/>
        <xs:element name="Merchant" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:anyURI" name="WebsiteUrl"/>
              <xs:element type="xs:string" name="PhoneNumber"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:double" name="Distance"/>
                    <xs:element type="xs:string" name="DistanceUnit"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Line1"/>
                          <xs:element type="xs:string" name="Line2"/>
                          <xs:element type="xs:string" name="City"/>
                          <xs:element type="xs:string" name="PostalCode"/>
                          <xs:element name="CountrySubdivision">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name"/>
                                <xs:element type="xs:string" name="Code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Country">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name"/>
                                <xs:element type="xs:string" name="Code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Point">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="Latitude"/>
                          <xs:element type="xs:float" name="Longitude"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Acceptance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PayPass" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Concession"/>
                          <xs:element type="xs:string" name="Pharmacy"/>
                          <xs:element type="xs:string" name="FuelPump"/>
                          <xs:element type="xs:string" name="TollBooth"/>
                          <xs:element type="xs:string" name="DriveThru"/>
                          <xs:element type="xs:string" name="Register"/>
                          <xs:element type="xs:string" name="Ticketing"/>
                          <xs:element type="xs:string" name="VendingMachine"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Features" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CashBack">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="MaximumAmount"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>