src/test/resources/repower.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Repower">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="RequestId"/>
        <xs:element type="xs:string" name="TransactionReference"/>
        <xs:element name="TransactionHistory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Type"/>
                    <xs:element type="xs:string" name="SystemTraceAuditNumber"/>
                    <xs:element type="xs:string" name="NetworkReferenceNumber"/>
                    <xs:element type="xs:string" name="SettlementDate"/>
                    <xs:element name="Response">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Code"/>
                          <xs:element type="xs:string" name="Description"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:dateTime" name="SubmitDateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AccountBalance">
          <xs:annotation>
            <xs:documentation>Optional</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="Value"/>
              <xs:element type="xs:string" name="Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>