src/test/resources/restaurants.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Restaurants">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="PageOffset"/>
                <xs:element type="xs:int" name="TotalCount"/>
                <xs:element name="Restaurant" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="Id"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="WebsiteUrl"/>
                            <xs:element type="xs:string" name="PhoneNumber"/>
                            <xs:element type="xs:string" name="Category"/>
                            <xs:element name="Location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Name"/>
                                        <xs:element type="xs:double" name="Distance"/>
                                        <xs:element type="xs:string" name="DistanceUnit"/>
                                        <xs:element name="Address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Line1"/>
                                                    <xs:element type="xs:string" name="Line2"/>
                                                    <xs:element type="xs:string" name="City"/>
                                                    <xs:element type="xs:string" name="PostalCode"/>
                                                    <xs:element name="CountrySubdivision">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Name"/>
                                                                <xs:element type="xs:string" name="Code"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Country">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Name"/>
                                                                <xs:element type="xs:string" name="Code"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Point">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:double" name="Latitude"/>
                                                    <xs:element type="xs:double" name="Longitude"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="LocalFavoriteInd"/>
                            <xs:element type="xs:string" name="HiddenGemInd"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>