src/test/resources/scoreLookup.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScoreLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CustomerIdentifier"/>
        <xs:element type="xs:string" name="RequestTimestamp"/>
        <xs:element name="TransactionDetail">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="CustomerIdentifier"/>
              <xs:element type="xs:integer" name="MerchantIdentifier"/>
              <xs:element type="xs:long" name="AccountNumber"/>
              <xs:element type="xs:int" name="AccountPrefix"/>
              <xs:element type="xs:short" name="AccountSuffix"/>
              <xs:element type="xs:long" name="TransactionAmount"/>
              <xs:element type="xs:short" name="TransactionDate"/>
              <xs:element type="xs:int" name="TransactionTime"/>
              <xs:element type="xs:string" name="BankNetReferenceNumber"/>
              <xs:element type="xs:int" name="Stan"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScoreResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="MatchIndicator"/>
              <xs:element type="xs:short" name="FraudScore"/>
              <xs:element type="xs:string" name="ReasonCode"/>
              <xs:element type="xs:short" name="RulesAdjustedScore"/>
              <xs:element type="xs:string" name="RulesAdjustedReasonCode"/>
              <xs:element type="xs:string" name="RulesAdjustedReasonCodeSecondary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>